<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">

  <!--Link your CSS file here -->

</head>

<body>

<div class="fading">
    <!--Add a img tag for logo, heading tag for heading, and a anchor tag for linking to main page -->

</div>

<section class="context">

  <div class="crawl">
      <!--Use p tag for adding some content about this project. Use more then one p tag -->

  </div>

</section>

   
</body>
</html>