body {
  background-image: url(../static/bg5img.jpg);
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 45px;
  color: #a8a9ad; 

}

.logo {
  height: 150px; width: 150px; 
}

.button_form:hover
{
  opacity: 0.5;
}

.btn {
  font-size: 20px;
  letter-spacing: 2;
}


