<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div class="fading">
    <img class="logo"  src="../static/logo.png">
    <h1>Space Rocket Launch</h1>
                <form  method="POST" action="/main">
                    <button  class="btn btn-info" >LAUNCH NOW</button><br><br>
            </form>
</div>

<section class="context">

  <div class="crawl">
    
      <p>Welcome to a X-mars space agency, astronaut. On your command, we'll launch the launch shuttle. Please tighten your seatbelt and get started.</p>      
      <p>During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>

  </div>

</section>

   
</body>
</html>