<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <img class="logo"  src="../static/logo.png">
    <h1>Space Rocket Launch</h1>
    
            <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="/1" target="_blank">
                    <input type="image" src="../static/b1.gif" ><br><br>
                    <button  class="btn btn-info" >Release Orbital Arm</button><br><br>
            </form>
            

            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/2" target="_blank">
                    <input type="image" src="../static/b2.gif" ><br><br>
                    <button class="btn btn-info" >Main engine Test</button><br><br>
            </form>
     


            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/3" target="_blank">
                    <input type="image" src="../static/b3.gif" ><br><br>
                    <button class="btn btn-info" >Activate Hydrogen </button><br><br>
            </form>
        
        
            
            <form class="button_form col col-lg-4 col-sm-6" method="POST" action="/4" target="_blank">
                    <input type="image" src="../static/b4.gif" ><br><br>
                    <button class="btn btn-info">Main engine ignite</button><br><br>
            </form>



            <form class="button_form col col-lg-4 col-sm-6" method="POST" action="/5" target="_blank">
                    <input type="image" src="../static/b5.gif" ><br><br>
                    <button class="btn btn-info" >Hydrogen vent Arm </button><br><br>
            </form>



            <form class="button_form col col-lg-4 col-sm-6" method="POST" action="/6" target="_blank">
                    <input type="image" src="../static/b6.gif" ><br><br>
                    <button class="btn btn-info" >Ignite Both SRB's</button><br><br>
            </form>

</body>
</html>